
$primary-color: #FFF;
$accent-color: #FFAAFF;
$smoke-screen-color: rgba(#000000, 0.31);
$inactive-color: #9E9E9E;
$textarea-background-color: rgba(#FFFFFF, 0.07);
$button-background-color: rgba(#000000, 0.33);
$dropdown-background-color: #1b1b1b;
$dropdown-background-color-active: #333;
$element-damage-color: #aa5c00;
$element-healing-color: #9f9d00;
$element-alteration-color: #00999f;
$element-summoning-color: lighten(#6c009f, 20%);
$element-control-color: lighten(#101665, 40%);
$element-sacrifice-color: lighten(#550000, 20%);

$dropdown-element-height: 34px;

$transition-duration: .3s;
$long-transition-duration: .6s;

$minibar-width: 40px;
$sidebar-width: 160px;