@media {
    .container{
        max-width: 800px;
    }
}

.biggerFont
{
	font-size: 16px;
}

.biggestFont
{
	font-size: 18px;
}

.HomeUpgradesText
{
	font-style: italic;
}

.HomeUpgradesCheatWarning
{
	font-style: italic;
	color: red; 
}

.Exam
{
	display: none;
}

.Home
{
	display: none;
}