.container {
    width: 100%;
}

.biggerFont {
	font-size: 16px;
}

.biggestFont {
	font-size: 18px;
}

.scoreLabelFont {
	color: white;
}

.scoreFont {
	color: white;
	font-size: 28px;
}

.scoreFontRight {
  text-align: right;
}

.songCatFont {
	color: white;
	font-size: 30px;
}

.answerFont {
	text-align: center;
	color: white;
	font-size: 36px;
}

.songBtnFont {
	font-size: 40px;
}

.btn-song {
	width: 85%;
}

.table_music_col00 {
	width: 18%;
}

.table_music_td {
	height: 150px;
	text-align: center;
}

.table tbody>tr>td.vert-middle {
    vertical-align: middle;
}

.btn-vert-middle {
	vertical-align: middle;
}

.btn-close {
	position: fixed;
	right: 2px;
	top: 2px;
	font-size: 10px;
	padding: 5px;
}

#module_01_controls {
	position: fixed;
	bottom: 3px;
	right: 5px;
}

#module_meta_controls {
	position: fixed;
	bottom: 43px;
	right: 5px;
}

#span_selectedSongId {
	vertical-align: middle;
	margin-left: 50px;
}

#module_01_answer {
	position: absolute;
	left: 5%;
	top: 45%;
	width: 90%;
	height: 10%;
	text-align: center;
	border: 3px;
}

body {
	overflow: hidden;
}

#table_music_main {
	margin-top: 5px;
}

.background-image {
	background: no-repeat center center fixed; 
	background-size: cover;
	display: block;
	left: -5px;
	top:-5px;
	bottom:-5px;
	position: fixed;
	right: -5px;
	z-index: -1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	margin:-5px;
}

.background-image-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}