
@import "./variables";
@import "./checkbox";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  //font: 300 100% 'Helvetica Neue', Helvetica, Arial;
}

.slide-leave-active,
.slide-enter-active {
  transition: 1s ease;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}

//======================================================================
#main-container {
  height: 100%;
  color: $primary-color;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right bottom, #1b1b1e, #333);
  display: flex;
  flex-direction: row;

  //======================================================================
  .card-container {
	position: relative;
	flex-grow: 1;
	flex-basis: 30%;
	background: white url("../res/bg_alpha.png") repeat fixed center;

	.canvas-container {
	  height: 100%;
	  canvas {
		display: block;
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	  }
	}
  }

  //======================================================================
  .toolbar {
	overflow: hidden;
	position: relative;
	flex-grow: 1;
	flex-basis: 70%;
	min-width: 300px;

	.tabs-container {
	  display: block;
	  width: 100%;
	  margin: 0 auto;
	  font-family: "K2D", sans-serif;
	  background-color: $smoke-screen-color;

	  a {
		color: $inactive-color;
		display: inline-block;
		width: 25%;
		padding: .75rem 0;
		margin: 0;
		text-decoration: none;
		text-align: center;
		transition: color $transition-duration;
		&:hover, &.router-link-active {
		  color: $primary-color;
		}
		&:active {
		  color: $accent-color;
		  transition: color 0s;
		}
	  }

	  .one.router-link-active {
		& ~ hr {
		  margin-left: 0%
		}
	  }

	  .two.router-link-active {
		& ~ hr {
		  margin-left: 25%
		}
	  }

	  .three.router-link-active {
		& ~ hr {
		  margin-left: 50%
		}
	  }

	  .four.router-link-active {
		& ~ hr {
		  margin-left: 75%
		}
	  }

	  .one:hover ~ hr {
		margin-left: 0%;
	  }

	  .two:hover ~ hr {
		margin-left: 25%;
	  }

	  .three:hover ~ hr {
		margin-left: 50%;
	  }

	  .four:hover ~ hr {
		margin-left: 75%;
	  }

	  hr {
		height: .25rem;
		width: 25%;
		margin: 0;
		background: $accent-color;
		border: none;
		transition: .3s ease-out;
	  }

	}

	.toolbar-tab {
	  position: absolute;
	  width: 100%;
	  height: calc(100% - 49px);
	  padding: 10px;

	  .toolbar-tab-content {
		height: 100%;
		display: flex;
		flex-direction: column;
	  }
	}
  }

  //======================================================================
  .text-input {
	margin: 10px;

	label {
	  font: 16px/1.4 "Roboto", sans-serif;
	  letter-spacing: 0.5px;
	  margin-left: 3px;
	}

	input[type='text'], textarea {
	  font: 16px/1.4 "Roboto", sans-serif;
	  letter-spacing: 0.5px;
	  padding: 10px;
	  margin-top: 5px;
	  resize: none;
	  display: block;
	  color: $primary-color;
	  border: 1px solid $inactive-color;
	  border-radius: 3px;
	  outline: none;
	  transition: all $transition-duration;
	  background-color: $textarea-background-color;

	  &:focus {
		border-color: $primary-color;
		background-color: transparent;
	  }
	}

	.card-title {
	  width: 100%;
	}

	.card-description {
	  width: 100%;
	}
  }

  //======================================================================
  button {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 1px solid $inactive-color;
	margin: 0.6em 0.3em;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: $inactive-color;
	background-color: transparent;
	text-align: center;
	transition: all $transition-duration;
	cursor: pointer;
	outline: none;

	&:focus, &:hover {
	  color: $primary-color;
	  border: 1px solid $primary-color;
	  background-color: $button-background-color;
	}

	&:active {
	  color: $accent-color;
	  border: 1px solid $accent-color;
	  background-color: $button-background-color;
	  transition: all 0s;
	}

	&.btn-red {
	  color: lighten(red, 15%);
	  border-color: lighten(red, 15%);

	  &:focus, &:hover {
		color: red;
		border-color: red;
	  }

	  &:active {
		color: darken(red, 20%);
		border-color: darken(red, 20%);
	  }
	}
  }

  @media all and (max-width: 30em) {
	button {
	  display: block;
	  margin: 0.4em auto;
	}
  }

  //======================================================================
  .table-card-library {
	display: flex;
	flex-direction: column;

	.library-items-container-wrapper {
	  overflow-y: auto;
	  padding-right: 10px;

	  &::-webkit-scrollbar {
		width: 5px;
	  }

	  &::-webkit-scrollbar-track {
		background-color: #00000022;
	  }

	  &::-webkit-scrollbar-thumb {
		background-color: $inactive-color;
		&:hover {
		  background-color: $primary-color;
		}
	  }

	}
	.library-items-container {
		overflow-y: auto;

	  .library-item {
		width: 100%;
		color: $inactive-color;
		border-bottom: 1px solid $inactive-color;
		height: 40px;
		transition: all $transition-duration;
		cursor: pointer;
		user-select: none;
		display: flex;
		vertical-align: middle;
		padding-left: 20px;

		.library-item-checkbox {
		  flex-basis: 30px;
		  padding-top: 7px;
		}

		.library-item-value {
		  text-overflow: ellipsis;
		  white-space: nowrap;
		  overflow: hidden;
		  flex-basis: 30%;
		  margin-right: 20px;
		  line-height: 40px;
		}

		div {
		  display: inline-block;
		}

		&:hover {
		  color: $primary-color;
		  border-bottom-color: $primary-color;
		}

		&:active {
		  color: $accent-color;
		  border-bottom-color: $accent-color;
		  transition: all .0s;
		}
	  }
	}
  }

  //===============================================
  .dropdown-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;

	.card-drop {
	  max-width: 200px;
	  position: relative;

	  button {
		display: block;
		width: 100%;
		height: $dropdown-element-height;
		margin: 0;
		padding: 6px 0 6px 0;
		text-decoration: none;
		color: $inactive-color;
		background-color: $dropdown-background-color;
		i {
		  display: inline-block;
		  width: 20px;
		}
		&:hover {
		  color: $primary-color;
		  background-color: $dropdown-background-color-active;
		}
	  }
	  button.button-top {
		position: relative;
		z-index: 300;
		background-color: $dropdown-background-color;
		font: 16px/1.4 "Roboto", sans-serif;

		.caret-down {
		  display: block;
		  position: absolute;
		  font-size: 1.3em;
		  color: $inactive-color;
		  right: 0;
		  top: 0;
		  bottom: 0;
		  line-height: $dropdown-element-height;
		  transition: all $transition-duration;
		}

		&.active {
		  color: $primary-color;
		  border-color: $primary-color;
		  background-color: $dropdown-background-color;

		  .caret-down {
			transform: rotate(180deg);
		  }
		}

		&.active, &:hover {
		  background-color: $dropdown-background-color-active;
		  .caret-down {
			color: $primary-color;
		  }
		}
	  }

	  ul {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		list-style: none;
		li {
		  position: absolute;
		  width: 100%;
		  transition: top $transition-duration ease-out;

		  button {
			&:active {
			  color: $accent-color;
			  transition: all 0s;
			}
		  }

		  &.active {
			button {
			  color: $accent-color;
			}
		  }
		  &.closed {
			button:hover {
			  cursor: default;
			  background-color: $dropdown-background-color;
			}
		  }
		}
	  }
	}
  }

}