$primary-color: #FFF;
$accent-color: #FFAAFF;
$smoke-screen-color: rgba(#000000, 0.31);
$inactive-color: #9E9E9E;
$textarea-background-color: rgba(#FFFFFF, 0.07);
$button-background-color: rgba(#000000, 0.33);
$dropdown-background-color: #1b1b1b;
$dropdown-background-color-active: #333;

$dropdown-element-height: 34px;

$transition-duration: .3s;
