$primary-color: #FFF;
$accent-color: #FFAAFF;
$smoke-screen-color: #00000050;
$inactive-color: #9E9E9E;
$textarea-background-color: #FFFFFF11;
$button-background-color: #00000022;
$dropdown-background-color: #1b1b1b;
$dropdown-background-color-active: #333;

$dropdown-element-height: 34px;

$transition-duration: .3s;
