#Wrap
{
	display: block;
	width: 1000px;
	margin: auto;
}

.PopStats
{
	float: left;
	width: 323px;
	margin: 5px;
	margin-bottom: 30px;
}

.PopActivity
{
	font-weight: 600;
}

.PopDesire
{
	font-style: italic;
}