.booklet .b-wrap-left {
  background-size: cover;
  background-image: url('images/book-page-left.png');
}
.booklet .b-wrap-right {
  background-size: cover;
  background-image: url('images/book-page-right.png');
}
.booklet .b-arrow {
  width: 89px;
}
.booklet .b-arrow-next {
  right: -65px;
}
.booklet .b-arrow-prev {
  left: -65px;
}
.book-outer-wrapper {

}
.book-bg {
  width: 1134px;
  height: 840px;
  background-size: cover;
  background-image: url('images/book-bg.png');
  margin-left: auto;
  margin-right: auto;
}
.book-wrapper {
  padding-top: 55px;
}
.magic-book {
  
}
.booklet .b-arrow-prev div {
  background: none;
}
.booklet .b-arrow-next div {
  background: none;
}
img {
  width: 100%;
}
h1 {
  text-align: center;
  font-style: italic;
}
h2 {
  text-align: center;
  font-style: italic;
}
h3 {
  font-style: italic;
}
h4 {
  font-style: italic;
}
p {
  text-align: justify;
}
.book-page-left {
  padding-left: 5px;
  padding-right: 15px;
}
.book-page-right {
  padding-left: 15px;
  padding-right: 5px;
}
.editor-label {
  font-size: 20px;
}